@model ShopList

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Item</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input class="form-control" asp-for="ProductName" />
            <span class="text-danger" asp-validation-for="ProductName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Size"></label>
            <input class="form-control" asp-for="Size" />
            <span class="text-danger" asp-validation-for="Size"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <button class="btn btn-primary" style="width:150px" type="submit">Create</button>
        <a class="btn btn-secondary" style="width:150px" asp-controller="ShopList" asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
    }
    <partial name="_ValidationScriptsPartial" />
                }
